.grey-division{
    width: 100%;
    height: 5em;
    background-color: #e6e6e6;
}

.grey-division-text{
    text-align: center;
    line-height: 5em; 
}

.center-paragraph{
    margin-left:17%;
    margin-right: 17%;

}