  <div class="grey-division">
      <div class="grey-division-text"><strong>Sobre</strong></div>
  </div>

  <img src="../assets/images/about.jpg" alt="logo" style="width:100%; margin-bottom: 6em"/>

  <div class="center-paragraph">

    <h4>Repositório educacional?</h4>
    <p>Repositórios de Objetos de Aprendizagem são como depósitos virtuais onde ficam armazenados os materiais com fins educacionais. Também podem ser entendidos como banco de dados por meio dos quais é possível localizar e obter recursos educacionais para diferentes níveis de ensino e disciplinas.</p>
    <br><br><br>
    <h5><strong>O Padrão OBAA</strong></h5>
    <p>O Projeto OBAA teve por objetivo buscar pontos de convergência entre as tecnologias de Objetos de Aprendizagem (OA) e de Sistemas Multiagente como forma de dar mais flexibilidade, adaptabilidade e interatividade a ambientes de aprendizagem. Com isso, os objetos de aprendizagem são construídos com base em agentes.</p>
 
  
  
  </div>