.grey-division{
    width: 100%;
    height: 5em;
    background-color: #e6e6e6;
}

.grey-division-text{
    text-align: center;
    line-height: 5em; 
}

.center-paragraph{
    margin-left:17%;
    margin-right: 17%;

}

.center-div{
    text-align: center;
    margin-top: 1em;
}

.input-size{
    width: 30%;
    margin-top: 2em;
}

.orange-button{
    background-color: #FF6F40;
    color: white;
    width: 6em;
    height: 2em;
    line-height: 2em;
    border-radius: 0.6em;
    font-size: 1em;
    display: inline-block;
}
.orange-letter{
    color: #FF6F40
}