
  <div class="cognix-header">
    <div class="link-spacing">
      <a  routerLink="/" routerLinkActive="active" class="link-text">home</a>
      <a routerLink="/about" routerLinkActive="active" class="link-text" style="margin-left:2%">sobre</a>
      <a routerLink="/documents/add" class="link-text" style="margin-left:2%">adicionar objeto</a>
      <span style="float: right; margin-right:3%">
          <a routerLink="/profile/Caio"  routerLinkActive="active" class="link-text" style="text-align: right">  <mat-icon aria-hidden="false" aria-label="User" style="vertical-align: bottom">person</mat-icon>Admin</a>
      </span>
      

    </div>      
    
    <div class= "center">

      <a href="/" >
        <img src="../assets/images/logo.jpg" alt="logo"  style="width:20em"/>
      </a>

    </div>
    
  </div>
 

