.cognix-header {
    background-color: white;
    height: 15em;
    width: auto;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:3em;

  }

  .link-spacing{
      margin-top: 2%;
      margin-left: 2.5%;
  }
  
  .link-text{
      color:black;
      font-size: 18px;
  }

  .button-color {
    background-color: white;
    color: white;
  }
  