.center-div{
    width: 30%;
    margin: auto auto;
    margin-top: 3em;
    text-align: center;
}

.center-div-step2{
    width: 65%;
    margin: auto auto;
    margin-top: 3em;
}

.search-options{
    height:1.3em;
    font-size: 10px;
}