<mat-progress-bar id="progress" class="orange-progress" [value]="progressBarValue"></mat-progress-bar>

<div class="center-div" id="step1">
  <p>Você pode adicionar seu objeto através de um arquivo em seu computador</p>
  <!--  <mat-form-field style="margin-top: 4em; width:70%">
      <input matInput  placeholder="Endereço na Web (link)">
  </mat-form-field>
  <p style="text-align: left">Você também pode arrastar o objeto para essa janela</p>

  <br>
  <button matButton> Próximo</button>
-->
  <input style="height: 30px" type="file" name="file" id="uploadFile" ng2FileSelect [uploader]="uploader2" />
  <br>


</div>

<div class="center-div-step2" id="step2" style="display:none">
  <h1 style="text-align: center;"><strong>Informações gerais</strong></h1> <br><br>

  <form>

    <p class="paragraph">Qual é o título?</p>
    <mat-form-field style="width:50%">
      <input matInput matInput [(ngModel)]="simple.name" name="title" placeholder="Sua resposta">
    </mat-form-field>
    <br><br>
    <p class="paragraph">Qual é o idioma?</p>
    <mat-form-field>
      <mat-select [(ngModel)]="simple.language" name="languages" placeholder="Escolher">
        <mat-option value=Português>Português</mat-option>
        <mat-option value=Inglês>Inglês</mat-option>
        <mat-option value=Espanhol>Espanhol</mat-option>
      </mat-select>
    </mat-form-field> <br><br>

    <p class="paragraph">Como você descreveria este objeto de aprendizado?</p>
    <mat-form-field style="width:50%">
      <input matInput [(ngModel)]="simple.description" name="description" placeholder="Sua resposta">
    </mat-form-field>
    <br><br>

    <p class="paragraph">Quais palavras-chave você usaria para descrever este objeto?</p>
    <mat-form-field style="width:50%">
      <input matInput [(ngModel)]="simple.keywords" name="keyword" placeholder="Sua resposta">
    </mat-form-field>
    <br><br>

    <p class="paragraph">Quais destes tipos de recurso são os mais adequados para definir este objeto de aprendizagem?
    </p>
    <br>
    <table cellpadding="10">
      <tr *ngFor="let list of resources">
        <th *ngFor="let item of list">
          <p style="margin-bottom: 0em;font-weight: normal;">
            <mat-checkbox (change)="item.isValid = ! item.isValid">{{item.name}}</mat-checkbox>
          </p>
        </th>
      </tr>
    </table>

    <br><br>


    <p class="paragraph">O usuário pode interagir com este objeto?</p> <br>
    <mat-radio-group [(ngModel)]="simple.interactive" name="interactive" id="interactive">
      <p class="paragraph" style="font-weight: normal;">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
      </p>
      <p class="paragraph" style="font-weight: normal;">
        <mat-radio-button value="Não">Não</mat-radio-button>
      </p>
    </mat-radio-group>
    <br><br>

  </form>
</div>


<div class="center-div-step2" id="step3" style="display:none">
  <h1 style="text-align: center;"><strong>Interatividade</strong></h1> <br><br>
  <form>
    <p class="paragraph">Qual o nível dessa interação?</p><br><br>
    <mat-slider thumbLabel [(ngModel)]="simple.interactionNumber" name="interactivityNumber" [displayWith]="formatLabel"
      min="1" max="4" step="1" value="1"></mat-slider>
    <br><br>

    <p class="paragraph">Quais correspondem ao objeto de aprendizagem em questão?</p> <br>
    <div *ngFor="let item of kind">
      <p style="font-weight: normal">
        <mat-checkbox (change)="item.isValid = ! item.isValid">É {{item.name.toLowerCase()}}</mat-checkbox>
      </p>
    </div>
  </form>
</div>

<div class="center-div-step2" id="step4" style="display:none">
  <h1 style="text-align: center;"><strong>Público Alvo</strong></h1> <br><br>
  <form>

    <p class="paragraph">Para quem foi feito este objeto de aprendizagem?</p> <br>
    <div *ngFor="let item of target">
      <p style="font-weight: normal">
        <mat-checkbox (change)="item.isValid = ! item.isValid">{{item.name}}</mat-checkbox>
      </p>
    </div>
    <br>

    <p class="paragraph">Para qual etapa da educação foi feito este projeto?</p> <br>
    <div *ngFor="let item of age">
      <p style="font-weight: normal">
        <mat-checkbox (change)="item.isValid = ! item.isValid">{{item.name}}</mat-checkbox>
      </p>
    </div>
    <br>
    <p class="paragraph">Para qual área do conhecimento foi feito esse objeto?</p>

    <div>
      <div class="search-buttons">
        <div style="float:left;" class="search-title search-options">
          <mat-chip-list>
            <mat-chip selected class="search-options" (click)="onSelectPrevious()"><span
                class="chip-text">{{searchOptions.name}}</span></mat-chip>
          </mat-chip-list>
        </div>
        <div>
          <mat-chip-list>
            <mat-chip class="search-options" #chip="matChip" [selectable]=false
              *ngFor="let field of searchOptions.next; let i = index" [attr.data-index]="i"
              (click)="onSelect(i, field.name); chip.select();">
              <span class="chip-text">{{field.name}}</span></mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>


  </form>

</div>

<div class="center-div-step2" id="step5" style="display:none">
  <h1 style="text-align: center;"><strong>Direitos</strong></h1> <br><br>
  <form>
    <p class="paragraph">Este objeto é gratuito?</p> <br>
    <mat-radio-group [(ngModel)]="simple.free" name="free" id="free">
      <p style="font-weight: normal" style="font-weight: normal;">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
      </p>
      <p style="font-weight: normal" style="font-weight: normal;">
        <mat-radio-button value="Não">Não</mat-radio-button>
      </p>
      <p style="font-weight: normal" style="font-weight: normal;">
        <mat-radio-button value="Não sei">Não sei</mat-radio-button>
      </p>
    </mat-radio-group> <br>

    <p class="paragraph">Se alguém for compartilhar este objeto, precisa citar o autor?</p> <br>
    <mat-radio-group [(ngModel)]="simple.citeAuthor" name="citeAuthor" id="rights">
      <p style="font-weight: normal;">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não">Não</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não sei">Não sei</mat-radio-button>
      </p>
    </mat-radio-group> <br>

    <p class="paragraph">Qual a licença?</p>
    <mat-form-field style="width:50%">
      <input matInput [(ngModel)]="simple.licence" name="licence" placeholder="Sua resposta">
    </mat-form-field> <br>

    <p class="paragraph">É permitido que façam adaptações neste objeto?</p> <br>
    <mat-radio-group [(ngModel)]="simple.alterations" name="alterations" id="alterations">
      <p style="font-weight: normal;">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Sim, desde que também o compartilhe">Sim, desde que também o compartilhe</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não">Não</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não sei">Não sei</mat-radio-button>
      </p>
    </mat-radio-group> <br>

    <p class="paragraph">É permitido que se faça uso comercial deste objeto?</p> <br>
    <mat-radio-group [(ngModel)]="simple.comercialUse" name="comercialUse" id="comercialUse">
      <p style="font-weight: normal;">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não">Não</mat-radio-button>
      </p>
      <p style="font-weight: normal;">
        <mat-radio-button value="Não sei">Não sei</mat-radio-button>
      </p>
    </mat-radio-group> <br>

  </form>
</div>
<div class="center-div-step2" id="step6" style="display:none">
  <h1 style="text-align: center;"><strong>Contribuintes</strong></h1> <br><br>

  <p class="paragraph">Quem contribuiu para o projeto?</p><br>
  <div *ngFor="let author of simple.author">

    <p class="paragraph">Nome:</p>
    <mat-form-field style="width:50%">
      <input matInput [(ngModel)]="author.name" name="author" placeholder="Sua resposta">
    </mat-form-field>
    <br>

    <p class="paragraph">De que forma?</p>
    <mat-form-field>
      <mat-select [(ngModel)]="author.role" name="role" placeholder="Escolher">
        <mat-option value=Aluno>Aluno</mat-option>
        <mat-option value=Professor>Professor</mat-option>
        <mat-option value=Gestor>Gestor</mat-option>
      </mat-select>
    </mat-form-field> <br><br>

  </div>
  <button mat-raised-button (click)="addAuthor()">Adicionar outro contribuinte</button>
  <button style="margin-left:30px" mat-raised-button (click)="removeAuthor()">Remover contribuinte</button>
  <br><br><br><br>

  <p class="paragraph">Adicione uma capa para seu objeto:</p><br>
  <input style="height: 30px" type="file" name="photo" id="test" ng2FileSelect [uploader]="uploader" />
  <br>

  


</div>

<div class="center-div-step2" id="step7" style="display:none">
  <h1 style="text-align: center;"><strong>Resumo - {{simple.name}}</strong></h1> <br><br>

  <app-show-metadata [simple]="simple"></app-show-metadata>
  <div style="text-align: center">
    <button (click)="finish()" mat-raised-button color="primary">Encerrar</button>


  </div> 
  <div id="incomplete" style="text-align: center;display:none;"><br><br>
    <p style="color:red">O QUESTIONÁRIO AINDA NÃO ESTÁ TOTALMENTE COMPLETO</p>


  </div>

</div>

<div class="pagination" style="margin-top:4em;">
  <div style="width:70%" class="pagination">
    <a href="javascript:void(0);" style="font-weight: bold;" (click)="prevPage()">&lt; Anterior</a>
    <a href="javascript:void(0);" id="page1" style="margin-left: 25%; font-weight: bold;" (click)="page(1)">1</a>
    <a href="javascript:void(0);" id="page2" style="margin-left: 3%;" (click)="page(2)">2</a>
    <a href="javascript:void(0);" id="page3" style="margin-left: 3%;" (click)="page(3)">3</a>
    <a href="javascript:void(0);" id="page4" style="margin-left: 3%;" (click)="page(4)">4</a>
    <a href="javascript:void(0);" id="page5" style="margin-left: 3%;" (click)="page(5)">5</a>
    <a href="javascript:void(0);" id="page6" style="margin-left: 3%;" (click)="page(6)">6</a>
    <a href="javascript:void(0);" id="page7" style="margin-left: 3%;" (click)="page(7)">7</a>
    <a href="javascript:void(0);" style="margin-left: 25%; font-weight: bold;" (click)="nextPage()"> Próximo &gt;</a>
  </div>

</div>