.center-div{
    width: 30%;
    margin: auto auto;
    margin-top: 3em;
    text-align: center;
}

.center-div-step2{
    width: 65%;
    margin: auto auto;
    margin-top: 3em;
}

.pagination{
    width: 70%;
    margin: auto auto;
    margin-top: 3em;
    text-align: center;
    font-size: 14px;
}


.search-buttons{
    margin-top: 2em;
}

.search-title{
    margin-bottom: 5em;

    margin-right: 2em;
}

.search-options{
    height:1.3em;
}


.chip-text{
    font-size:1em;
}

.paragraph{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0em;
}

a {
    color:black;
}

.mat-slider-horizontal {
    width: 20em;
 }
