.center-div{
    width: 30%;
    margin: auto auto;
    margin-top: 3em;
    text-align: center;
}

.center-div-step2{
    width: 65%;
    margin: auto auto;
    margin-top: 3em;
}



.search-buttons{
    margin-top: 2em;
}

.search-title{
    margin-bottom: 5em;

    margin-right: 2em;
}

.search-options{
    height:1.3em;
}


.chip-text{
    font-size:0.6em;
}
