

<div class="tab-content">
    <div id="entities-list" class="ui-widget" style="text-align: left" >
        <h3>{{info.metadata.general.title}}</h3>

        <h4>Informações Gerais</h4>
        <ul>
          <div *ngFor="let palavra of info.metadata.general.keywords">
              <p> Palavra-chave: {{palavra}}</p>
          </div>
          <p> Descrição: {{info.metadata.general.descriptions}}</p>
        </ul>

        <h4>Identificador</h4>
        <ul>
            <p> Identificador: {{info.metadata.general.identifiers[0].entry}} </p>
            <p> Estrutura: {{info.metadata.general.identifiers[0].catalog}} </p>

        </ul>

        <h4>Ciclo de Vida</h4>
        <ul>
            <p> Versão: {{info.isVersion}} </p>

        </ul>

        <h4>Contribuinte</h4>
        <ul>
            <p> Nome: Caio</p>
        </ul>

       

        <h4>    Para quem foi feito?</h4>
        <ul *ngFor="let item of info.metadata.technical.formats"><p>{{item}}</p></ul>
        <h4>Tipo de acessibilidade:</h4>
        <ul *ngFor="let item of info.metadata.general.coverages"><p>É {{item}}</p></ul>
        <h4>Etapa de educação:</h4>
        <ul *ngFor="let item of info.metadata.technical.supportedPlatforms"><p>{{item}}</p></ul>




    </div>
</div>