

<div class="center-div-step2" id="step7">
    <h1 style="text-align: center;"><strong>{{simple.name}} </strong></h1> <br><br>
    <div ><img style="display:block;margin:auto; max-width:50%; max-height:300px" mat-card-image src="{{thumb}}"  alt="Photo"></div> <br>
    <p class="paragraph">Idioma: <span style="font-weight:normal">{{simple.language}}</span></p><br>
    <p class="paragraph">Descrição:  <span style="font-weight:normal">{{simple.description}}</span></p><br>
    <p class="paragraph">Etapa da educação:
      <span *ngFor="let public of simple.age" style="font-weight:normal"> {{public}};</span></p><br>
    <p class="paragraph">Nível de interação: <span style="font-weight:normal">{{simple.interaction}}</span></p><br>
    <p class="paragraph">Direitos: <span style="font-weight:normal">{{simple.licence}}</span></p><br>
    <p class="paragraph">Contribuintes:
      <div  *ngFor="let author of simple.author" style="margin-left:13px; font-weight:normal">{{author.name}} - {{author.role}}</div><br>
  
  
   
      <div style="text-align: center">
        <a [href]="sanitize()"><button mat-raised-button color="primary">Baixar arquivo</button></a>
      </div>
  
  
  </div>