<div class="grey-division">
  <div class="grey-division-text"><strong>Seu Perfil</strong></div>
</div>

<div class="center-div">
  <div class="orange-button">
    Editar
  </div>

  <img src="../assets/images/profile.jpg" alt="prof" class="profile-pic" />
  <br>
    <h5 style="text-align: center">Shiba</h5>
  <p><span class="theme-blue"><strong>E-mail:</strong></span> shiba.trabalho@gmail.com</p>
  <p><span class="theme-blue"><strong>Ocupação:</strong></span> Professor</p>
  <br>
  <p><span class="theme-blue"><strong>Sobre mim:</strong></span><br> Sou um doggo muito legal e blablabla eu não sei o que dizer então lá vai o Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla tellus. Aliquam mattis purus in dolor gravida, et viverra mauris vestibulum. Quisque pretium risus at elementum venenatis. Sed aliquet dictum ipsum, sit amet condimentum mauris posuere sed. Curabitur auctor ornare velit, at feugiat lorem tempus varius. Maecenas ut ex risus. Praesent congue, magna quis varius venenatis, arcu nisi pharetra ipsum, eget semper nunc tortor gravida diam. Sed rhoncus ipsum a libero lobortis tristique. Ut interdum, purus eget luctus vestibulum, felis mauris volutpat orci, vitae volutpat ante orci vel ipsum. Cras eu dapibus sapien. Integer porta sodales leo in convallis. Duis id nisi quis ante dictum eleifend non id eros. </p>
</div>