/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* InfoPanel */

.informationRow{padding-top: 5px;}
.wordWrap{word-wrap:break-word;} 

/* List Documents */


/*Caixa do botão com dropdown*/
.dropDownBox {                
    position: absolute;
    margin-left: 0;
    padding: 0;
    border: 1px solid #DCDCDC; 
    background-color: #fff;                 

}

.dropDownBox li{                
    font-size: 10pt;
    font-weight: lighter;
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
    list-style-type:none;
}

.dropDownBox li:last-child{
    border-bottom: none;
}

/*Caixa do titulo do documento*/
.documentTitleText {
    padding-top: 0.8%;
    padding-left: 1%;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    font-size: 1.05em;
    font-weight: bold;
}
.buttonList {
    padding: 0.5%;
    margin-left:auto;
    float: right;
}

/*lista de metadados que vao logo abaixo do titulo*/
div .documentData {
    margin-top: 10px;
    list-style-type: none;
    margin-bottom: 2%;
}


label {font-weight: bold;}



/* Login */
.login{
    text-align: center;
    margin-top: 20px;
}
.login-title{
    margin-bottom: 15px;
    padding: 10px;
}

.login-error{
    width:250px;
    margin: 0 auto 15px auto;
    padding-left: 10px;
}

/*.login-form{text-align: left;}*/

.login-content{
    /*background-color: #B3B3B3;*/
    margin: 0 auto 0 auto;
    width: 400px;
}
.login-form{width:175px;text-align: left; margin: 0 auto;}
.login-form .value{margin:5px 0 15px 0;}
.login-form .buttons{background-color: #ECEEEE;text-align: left;}
/*.ui-icon-alert{float:left}*/

/* 
    Document   : pageError
*/
body, html {height: 100%;}
body {
    font: 100% 'Roboto';
    margin: auto auto;    
    text-align: left;
    /*background-color: #44697D;*/
    color: white;
}

h1{font-size: 130%}

#logo{width: 45%; margin-bottom: 40px; margin-top: 20%}

#txtError a{color:white; font-weight: bold}


/* Repositorio */


ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}


.titulo{
    font-size: 130%;
    font-weight: bold;
    color: #39829f;
    margin-top: 2%;
    text-decoration: underline;
}


.LinhaEntrada{
    margin-top: 1.5%;
}
.LinhaEntrada label{
    float:left;
    text-align:right;
    width:40%;
}

.LinhaEntrada .Value{
    margin:0 0 20px 41%;
}
.LinhaEntrada .Buttons{
    margin:0 0 10px 0%;
    padding-top:2%;
    text-align:center;

}
.LinhaEntrada .Buttons input{
    border: 1px solid #d8dcdf; background: #eeeeee url(/assets/css-custom-themes/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #004276;
}


/*Show Document*/

root { 
    display: block;
}

/*Standard*/

/* main elements */

body {
    color: #666;
}

#tab-content{
    padding: 15px 15px 0 15px;
}
.ui-tabs{padding: 0}
.ui-icon-alert{float:left; margin:0 7px 5px 0;}

#dialog-form{font-size: 90%;}

th {text-align: left}

.clear {clear: both;}
.floatRight {float: right}
.floatLeft{float:left}
.center{text-align: center;}
.txtLeft{text-align: left}

li {list-style-type: none;}

h1 { font-size: 1.2em; margin: 0 0 .4em .8em; clear: both; padding-top: .8em}

/* header and footer elements */
#logout{
    margin: -10px 0 5px 0;
    float: right;
}
#logo{
    vertical-align: middle;
    text-align: left;
}

#logo img{width: 21em}

#footer {
    background:#fff;
    border:none;
    margin:5px 0 0 10px;
    font-size: 85%;
}

#footer .new {
    float:left;
}

#footer a {color: #2f8d88;}

.showClick{cursor: pointer}

/*mainframe*/
#headerWrapper{
    
}
#headerWrapper, #wrapper, #footterWrapper {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
    display:block;
}
#headerWrapper, #wrapper{margin-top:45px;}
#wrapper{padding-bottom: 15px;}

#main {
    overflow:hidden;
    display:flex;
    padding: 1em 0 1em 2em;
}

/* lista das entidades*/
div#entities-list { margin: 15px 0; clear: both;}
div#entities-list table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#entities-list table td, div#entities-list table th {padding: .4em 5px; }

/*css3 tabela com linhas coloridas*/
table.zebra tbody tr:nth-child(odd) {background: #d2e2e9}
table.zebra tbody tr:nth-child(even) {background: white}

div.error,span.error, label.error{color:red;}
span.error{display: block;}
input.error,textarea.error{border-color: red;}
label.error,input.error{margin-top: 5px;}
#message{margin: 5px 0 20px 15px}
#message.success, span.success{color:#22C162; font-weight: bold;}
.gliphycon-text{
    padding:0 0 0 7px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.error-login {
    margin-top:50px;
}
.img-capa-lista{  
   width:60%;
   margin:0 auto;
   margin-top:7px;
}

.title-list{
   padding:8px;   
}

a.title-link {
    color:#39829f !important;
    font-weight: bold;
}

a.link-interno{
    text-decoration: underline;
    color:#39829f;
}

.coluna-lista{
    min-height:350px;
}

.navbar-brand{
    padding:8px;
}

.navbar-brand:hover{
    color:#FFF;
    text-decoration: none;
}

.navbar-header{
   width:50%;
}
.icon-error{color: red; }

.btn{margin-right: .3em;}
.btn:last-child{margin-right: 0em;}

.modal-footer{margin-top: 0}

.pagination-centered{
    text-align: center;
    clear:both;
}

.remove{
    color:#39829f;
    float:right;    
    height: auto !important;
    width: auto !important;
    margin-bottom: 10px;   
}

/*Users*/

td:last-child{text-align: right; }

/* Formulario */
fieldset { padding:0; border:none}
input, select { height:20px}
input, textarea, select { border:1px solid #B3B3B3; }
.fields{margin-top: 10px;}
.fields p{margin-left: 15px;font-size: 15px;}
p{font-size: 12px; margin-left:0px}

.formLine{margin-bottom: 15px;clear: both;}
.formLine label {
    width:150px;
    float:left;
    margin: 5px 15px 0 5px;
    text-align: right; 
}
.formLine .value{margin-left: 175px; margin-right: 25px;}
.formLine .value input,.formLine .value textarea {width: 100%;}
.formLine .value input.smalltext{width:8em}
.formLine .value input.withButton{width:80%; margin-right: 10px;}
.formLine .value input.tinytext,input.tinytext{width:6em}
.formLine .informativo{margin: 0 0 5px 180px; font-size: 95%; color: #666}
.formLine label.seminput{margin-top: 0}
.formLine .button {
    margin-left: 127px;
}

div.error,span.error {margin-left: 180px;}

div#divDeleted table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#divDeleted table td, div#divDeleted table th {padding: .4em 5px; }
input[disabled]{color:#777}



.ul{
    margin-left: 0px;
}

.orange-progress .mat-progress-bar-fill::after {
    background-color: #FFA040 !important;
}


/*Design Choices */

.editable{
    color: #9B9FA0;
}

.alternative{
    color: #424649;
}

.auxiliar-bar{
    color: #DBDDDA;
}

.error-message{
    color: #EF2523;
}

.theme-orange{
    color: #FFA040;
    
}

.theme-blue{
    color: #0077C2;
}

.orange-button{
    background-color: #FF6F40;
    color: white;
    width: 6em;
    height: 2em;
    line-height: 2em;
    border-radius: 0.6em;
    font-size: 1em;
}
