<div class="main-image-div">
  <div class="inside-image">
    <div class="image-text editable"> Pesquisa avançada</div>
    <div class="search-box center-div">

      <span>
        <mat-form-field floatLabel="never" class="search-bar">
          <input matInput [(ngModel)]="searchText" name="searchTexts" placeholder="Pesquisar objetos de aprendizagem">

        </mat-form-field>
      </span>

      <a style="cursor:pointer" (click)="search()">
        <div class="dot">

          <mat-icon style="color:white; margin-right:0.5em; margin-top:0.2em; font-size: 2em" aria-hidden="false"
            aria-label="search">search</mat-icon>


        </div>
      </a>

    </div>


    <div>
      <div class="search-buttons">
        <div style="float:left;" class="search-title">
          <mat-chip-list>
            <mat-chip selected class="search-options" (click)="onSelectPrevious()"><span
                class="chip-text">{{searchOptions.name}}</span></mat-chip>
          </mat-chip-list>
        </div>
        <div style="float:left; width:70%">
          <mat-chip-list>
            <mat-chip class="search-options" #chip="matChip" [selectable]=false
              *ngFor="let field of searchOptions.next; let i = index" [attr.data-index]="i"
              (click)="onSelect(i, field.name); chip.select();">
              <span class="chip-text">{{field.name}}</span></mat-chip>
          </mat-chip-list>

        </div>
      </div>
    </div>


  </div>
</div>

<!-- <div class="grey-division">
          <div class="grey-division-text"><strong>Seus Favoritos</strong></div>
          <div class="favorites">
              
              <mat-grid-list cols=3 rowHeight=1:1.1 gutterSize=2em >


                  <mat-grid-tile >
                      <app-documents></app-documents>
                  </mat-grid-tile>

                  <mat-grid-tile>
                      <app-documents></app-documents>
                  </mat-grid-tile>

                  <mat-grid-tile>
                      <app-documents></app-documents>
                  </mat-grid-tile>

              </mat-grid-list>
          
          </div>
      </div>
       -->

<div class="grey-division-text"><strong>Todos</strong></div>


<div style="margin-left: 6em; margin-top: 4em; width:90%">
  <mat-grid-list cols=4 rowHeight=23em>

    <mat-grid-tile *ngFor="let document of documents">

      <app-documents [document]="document"></app-documents>
    </mat-grid-tile>


  </mat-grid-list>

</div>