<div class="main-image-div">
    <div class="inside-image">
        <div class="image-text editable"> Adicione seus objetos de aprendizagem, busque, compartilhe</div>

        <div class="search-box center-div">

            <span>

                <mat-form-field floatLabel="never" class="search-bar">
                    <input matInput [(ngModel)]="searchText" name="searchTexts"
                        placeholder="Pesquisar objetos de aprendizagem">

                </mat-form-field>
            </span>

            <a style="cursor:pointer" [routerLink]="['/search/'+searchText]  " routerLinkActive="router-link-active">
                <div class="dot">

                    <mat-icon style="color:white; margin-right:0.5em; margin-top:0.2em; font-size: 2em"
                        aria-hidden="false" aria-label="search">search</mat-icon>


                </div>
            </a>

        </div>



        <div> <a [routerLink]="['/register']" class="register">FAÇA SEU CADASTRO</a> </div>



    </div>
</div>
