    

    <div class="main-image-div">
        <div class="inside-image">
            <div class="image-text editable"> Adicione seus objetos de aprendizagem, busque, compartilhe</div>
            <div class="search-box center-div">
                <form >
                    
                        <mat-form-field class="search-bar">
                                <input  matInput  placeholder="Pesquisar">
                        </mat-form-field>

                </form>
            </div>
            <div>
                <div class="center-div">
                    <mat-chip-list >
                            <mat-chip class="search-options"> <span class="chip-text">pesquisa avançada</span></mat-chip>
                            <mat-chip class="search-options"><span class="chip-text">área de conhecimento</span></mat-chip>
                            <mat-chip class="search-options"><span class="chip-text">tipo de Recurso</span></mat-chip>
                            <mat-chip class="search-options"><span class="chip-text">idioma</span></mat-chip>
                    </mat-chip-list>
                </div>  
            </div>
            <a  [routerLink]="['/register']" routerLinkActive="router-link-active" >
                <div class="register">
                    <span >FAÇA SEU CADASTRO</span>
                </div>
            </a>

        </div> 
    </div>

    <!-- <div class="grey-division">
            <div class="grey-division-text"><strong>Seus Favoritos</strong></div>
            <div class="favorites">
                
                <mat-grid-list cols=3 rowHeight=1:1.1 gutterSize=2em >


                    <mat-grid-tile >
                        <app-documents></app-documents>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <app-documents></app-documents>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <app-documents></app-documents>
                    </mat-grid-tile>

                </mat-grid-list>
            
            </div>
        </div>
         -->
    
    <div class="grey-division-text"><strong>Todos</strong></div>

      
    <div style="margin-left: 6em; margin-top: 4em; width:90%" >
        <mat-grid-list cols=4 rowHeight=23em>

            <mat-grid-tile *ngFor="let document of documents">
                
                <app-documents [document]="document"></app-documents>
            </mat-grid-tile>


        </mat-grid-list>

</div>
    


