
                  <mat-card class="card" > 
                      
                      <img mat-card-image class="mat-card-image" src={{thumb}} alt="Photo"> 
                      
                      
                        <mat-card-actions>
                            <h5 style="text-align: center"><strong>{{document.title}}</strong></h5>

                        </mat-card-actions>
                        
                            <a class="card-footers theme-orange" [routerLink]="['/documents/' + document.id]" routerLinkActive="router-link-active">
                                <strong>+ Informações</strong>
                             </a> 
                             <button mat-button > <mat-icon aria-hidden="false" aria-label="favorite" >favorite_border</mat-icon>
                             </button>
                    </mat-card>
        

              